@page "/"
@namespace Pages
@inherits HomeBase


<div class="console-wrap">
    
    <div id="console" class="console">
        
        @foreach (string line in Lines)
        {
            <div class="line">@line</div>
        }
        
        <span class="cursor"></span>
        
    </div>
    
</div>
