@page "/"
@namespace Pages
@inherits HomeBase


<div class="console-wrap">
    <div id="console" class="console">
        @foreach (var line in _lines)
        {
            <div class="line">
                <span class="ts">[@line.Timestamp]</span>
                <span class="lvl @(GetLevelClass(line.Level))">[@(GetLevelTag(line.Level))]</span>
                <span class="msg">@line.Message</span>
            </div>
        }
        <span class="cursor"></span>
    </div>
</div>
