@page "/"
@namespace Pages
@inherits HomeBase


<div class="console-wrap">
    
    <div id="console" class="console">
        
        @foreach (string html in rendered)
        {
            @((MarkupString)$"<div class='line'>{html}</div>")
        }

        <span class="cursor"></span>

    </div>
    
</div>
